
.app-container{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
  
/* .app-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
} */
  