
.app-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.app-header-item {
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

/* .app-header-item-active {
  background-color: pink;
} */


/* Second nav */
.sec-nav-item{
  background-color: rgb(180, 179, 179);
  margin-left: auto;
  margin-right: auto;
}


/* Search bar */
.searchbar {
  max-width: 200px;
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  /* background: #1f97c2; */
  border-radius: 20px;
}


/* Sticky nav */
.navigation {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}
/* Searchbar fade */

.fadeInWidth {
  animation: 0.2s linear fadeInWidth;
}

.fadeOutWidth {
  animation: 0.2s linear fadeOutWidth;
}

.fadeIn {
  animation: 0.8s linear fadeIn;
}
.fadeOut {
  animation: 1s linear fadeOut;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  padding: 0px 15px;
  transition: width 0.4s linear;
  caret-color: rgb(0, 255, 234);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.search-icon {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.icon-bg:hover {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes fadeInWidth {
  0% {
    width: 30px;
  }
  100% {
    width: 200px;
  }
}
@keyframes fadeOutWidth {
  0% {
    width: 200px;
  }
  100% {
    width: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

  
